* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
:focus {
  outline: 0 !important;
}
::-moz-focus-inner {
  border: 0;
}
select::-ms-expand {
  display: none;
}
html,
body {
  min-width: 320px;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
.wrapper {
  background-color: #f4f4f4;
  padding: 20px 0;
}
.container {
  width: 100%;
  min-width: 320px;
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.showcase {
  background-image: url(../img/hero-bg.png), -webkit-gradient(linear, left top, right top, from(#264071), to(#347095));
  background-image: url(../img/hero-bg.png), -webkit-linear-gradient(left, #264071, #347095);
  background-image: url(../img/hero-bg.png), -o-linear-gradient(left, #264071, #347095);
  background-image: url(../img/hero-bg.png), linear-gradient(to right, #264071, #347095);
  background-repeat: no-repeat, repeat;
  background-position: right -webkit-calc(50% - 385px) top 0, top 0 left 0;
  background-position: right calc(50% - 385px) top 0, top 0 left 0;
}
.showcase .container {
  min-height: 385px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url(../img/hero-logo.png);
  background-repeat: no-repeat;
  background-position: right 45px center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 350px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .showcase .container {
    background-position: right 15px center;
    padding-right: 320px;
  }
}
@media screen and (max-width: 767px) {
  .showcase .container {
    min-height: auto;
    display: block;
    background: none;
    padding: 30px 10px;
  }
}
.showcase__title {
  width: 100%;
  max-width: 745px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.28px;
  margin-bottom: 23px;
}
@media screen and (max-width: 767px) {
  .showcase__title {
    font-size: 24px;
  }
}
.showcase__text {
  width: 100%;
  max-width: 795px;
  color: #a3cbeb;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 35px;
}
@media screen and (max-width: 767px) {
  .showcase__text {
    font-size: 14px;
    line-height: 20px;
  }
}
.showcase__search {
  width: 100%;
  max-width: 600px;
}
.showcase--infoservices .container {
  min-height: 190px;
  height: 190px;
  background: none;
  padding-top: 25px;
  padding-bottom: 25px;
}
@media screen and (max-width: 767px) {
  .showcase--infoservices .container {
    min-height: auto;
    height: auto;
  }
}
.search-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 600px;
  height: 45px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}
.search-form__input {
  width: -webkit-calc(100% - 45px);
  width: calc(100% - 45px);
  height: 100%;
  border: none;
  background: #fff;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  padding: 0 18px;
}
.search-form__input:placeholder {
  color: #929292;
}
.search-form__btn {
  width: 45px;
  height: 45px;
  border: none;
  background-color: #a99966;
  background-image: url(../img/icon-search.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.search-form__btn:hover {
  background-color: #9a8c5e;
}
.toggle-section {
  -webkit-box-shadow: 0 2px 4px rgba(26, 26, 26, 0.08);
  box-shadow: 0 2px 4px rgba(26, 26, 26, 0.08);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  overflow: hidden;
  margin-bottom: 20px;
}
.toggle-section:last-of-type {
  margin-bottom: 0;
}
.toggle-section__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 70px;
  background-color: #354568;
  background-image: url(../img/section-toggle-pic.png);
  background-repeat: no-repeat;
  background-position: top right;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 50px;
  padding-right: 80px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 413px) {
  .toggle-section__head {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
  }
}
.toggle-section__head:before {
  content: '';
  display: block;
  width: 16px;
  height: 17px;
  background-image: url(../img/icon-chevrons.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: 27px;
  left: 22px;
}
@media screen and (max-width: 413px) {
  .toggle-section__head:before {
    top: 20px;
    left: 15px;
  }
}
.toggle-section__head--closed:before {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.toggle-section__body {
  padding: 20px 22px;
}
@media screen and (max-width: 413px) {
  .toggle-section__body {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.infoservices-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -20px;
}
@media screen and (max-width: 767px) {
  .infoservices-list {
    margin-bottom: -15px;
  }
}
.infoservices-list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-box-shadow: 0 2px 4px rgba(26, 26, 26, 0.08);
  box-shadow: 0 2px 4px rgba(26, 26, 26, 0.08);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  text-decoration: none;
  margin-bottom: 20px;
  margin-right: 20px;
}
.infoservices-list__item--4 {
  width: -webkit-calc(25% - 15px);
  width: calc(25% - 15px);
}
.infoservices-list__item--4:nth-child(4n) {
  margin-right: 0;
}
.infoservices-list__item--4 .infoservices-list__img {
  width: 90px;
}
.infoservices-list__item--4 .infoservices-list__text {
  width: -webkit-calc(100% - 90px);
  width: calc(100% - 90px);
}
.infoservices-list__item--3 {
  width: -webkit-calc(100%/3 - 14px);
  width: calc(100%/3 - 14px);
}
.infoservices-list__item--3:nth-child(3n) {
  margin-right: 0;
}
.infoservices-list__item--3 .infoservices-list__img {
  width: 136px;
}
.infoservices-list__item--3 .infoservices-list__text {
  width: -webkit-calc(100% - 136px);
  width: calc(100% - 136px);
}
.infoservices-list__item--2 {
  width: -webkit-calc(50% - 10px);
  width: calc(50% - 10px);
}
.infoservices-list__item--2:nth-child(2n) {
  margin-right: 0;
}
.infoservices-list__item--2 .infoservices-list__img {
  width: 136px;
}
.infoservices-list__item--2 .infoservices-list__text {
  width: -webkit-calc(100% - 136px);
  width: calc(100% - 136px);
}
@media screen and (min-width: 768px) and (max-width: 1219px) {
  .infoservices-list__item--4,
  .infoservices-list__item--3,
  .infoservices-list__item--2 {
    width: -webkit-calc(50% - 10px);
    width: calc(50% - 10px);
  }
  .infoservices-list__item--4:nth-child(4n),
  .infoservices-list__item--3:nth-child(4n),
  .infoservices-list__item--2:nth-child(4n) {
    margin-right: 20px;
  }
  .infoservices-list__item--4:nth-child(3n),
  .infoservices-list__item--3:nth-child(3n),
  .infoservices-list__item--2:nth-child(3n) {
    margin-right: 20px;
  }
  .infoservices-list__item--4:nth-child(2n),
  .infoservices-list__item--3:nth-child(2n),
  .infoservices-list__item--2:nth-child(2n) {
    margin-right: 0;
  }
  .infoservices-list__item--4 .infoservices-list__img,
  .infoservices-list__item--3 .infoservices-list__img,
  .infoservices-list__item--2 .infoservices-list__img {
    width: 90px;
    height: auto;
    min-height: 90px;
  }
  .infoservices-list__item--4 .infoservices-list__text,
  .infoservices-list__item--3 .infoservices-list__text,
  .infoservices-list__item--2 .infoservices-list__text {
    width: -webkit-calc(100% - 90px);
    width: calc(100% - 90px);
  }
}
@media screen and (max-width: 767px) {
  .infoservices-list__item--4,
  .infoservices-list__item--3,
  .infoservices-list__item--2 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .infoservices-list__item--4:nth-child(4n),
  .infoservices-list__item--3:nth-child(4n),
  .infoservices-list__item--2:nth-child(4n) {
    margin-right: 0;
  }
  .infoservices-list__item--4:nth-child(3n),
  .infoservices-list__item--3:nth-child(3n),
  .infoservices-list__item--2:nth-child(3n) {
    margin-right: 0;
  }
  .infoservices-list__item--4:nth-child(2n),
  .infoservices-list__item--3:nth-child(2n),
  .infoservices-list__item--2:nth-child(2n) {
    margin-right: 0;
  }
  .infoservices-list__item--4 .infoservices-list__img,
  .infoservices-list__item--3 .infoservices-list__img,
  .infoservices-list__item--2 .infoservices-list__img {
    width: 90px;
    height: auto;
    min-height: 90px;
  }
  .infoservices-list__item--4 .infoservices-list__text,
  .infoservices-list__item--3 .infoservices-list__text,
  .infoservices-list__item--2 .infoservices-list__text {
    width: -webkit-calc(100% - 90px);
    width: calc(100% - 90px);
  }
}
.infoservices-list__img {
  min-height: 90px;
  height: 100%;
  position: relative;
}
.infoservices-list__img:before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-image: url(../img/infoservices-list-item-bg.png);
  background-repeat: no-repeat;
  background-position: center right;
}
@media screen and (max-width: 767px) {
  .infoservices-list__img:before {
    background: #f6f7f9;
  }
}
.infoservices-list__img img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) and (max-width: 1219px) {
  .infoservices-list__img img {
    max-width: 70px;
    max-height: 55px;
  }
}
@media screen and (max-width: 767px) {
  .infoservices-list__img img {
    max-width: 70px;
    max-height: 55px;
  }
}
.infoservices-list__text {
  color: #262626;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  padding: 24px 15px;
}
@media screen and (min-width: 768px) and (max-width: 1219px) {
  .infoservices-list__text {
    padding: 15px;
    font-size: 13px;
    line-height: 1.4;
    line-height: 15px;
  }
}
@media screen and (max-width: 767px) {
  .infoservices-list__text {
    padding: 15px;
    font-size: 12px;
    line-height: 1.4;
    line-height: 15px;
  }
}
.infoservices-list__label {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  padding: 4px 10px;
  position: absolute;
  z-index: 5;
  left: -7px;
  top: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.infoservices-list__label--blue {
  background-color: #354568;
}
.infoservices-list__label--brown {
  background-color: #b3915a;
}
