* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
:focus {
  outline: 0 !important;
}
::-moz-focus-inner {
  border: 0;
}
html,
body {
  min-width: 1220px;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
.wrapper {
  background-color: #f4f4f4;
  padding: 20px 0;
}
.container {
  width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.showcase {
  background-image: url(../img/hero-bg.png), -webkit-gradient(linear, left top, right top, from(#264071), to(#347095));
  background-image: url(../img/hero-bg.png), -webkit-linear-gradient(left, #264071, #347095);
  background-image: url(../img/hero-bg.png), -o-linear-gradient(left, #264071, #347095);
  background-image: url(../img/hero-bg.png), linear-gradient(to right, #264071, #347095);
  background-repeat: no-repeat, repeat;
  background-position: right -webkit-calc(50% - 385px) top 0, top 0 left 0;
  background-position: right calc(50% - 385px) top 0, top 0 left 0;
}
.showcase .container {
  min-height: 385px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url(../img/hero-logo.png);
  background-repeat: no-repeat;
  background-position: right 45px center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.showcase__title {
  max-width: 745px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.28px;
  margin-bottom: 20px;
}
.showcase__text {
  max-width: 795px;
  color: #a3cbeb;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.showcase__search {
  margin-top: 35px;
}
.search-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 599px;
  height: 45px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}
.search-form__input {
  width: -webkit-calc(100% - 45px);
  width: calc(100% - 45px);
  height: 100%;
  border: none;
  background: #fff;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  padding: 0 18px;
}
.search-form__input:placeholder {
  color: #929292;
}
.search-form__btn {
  width: 45px;
  height: 45px;
  border: none;
  background-color: #a99966;
  background-image: url(../img/icon-search.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.search-form__btn:hover {
  background-color: #9a8c5e;
}
.section-block {
  -webkit-box-shadow: 0 2px 4px rgba(26, 26, 26, 0.08);
  box-shadow: 0 2px 4px rgba(26, 26, 26, 0.08);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  overflow: hidden;
}
.section-block:not(:last-of-type) {
  margin-bottom: 20px;
}
.section-block__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 60px;
  background-color: #f3f5f6;
  padding: 18px 23px;
  color: #262626;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.section-block__body {
  padding: 20px 22px;
}
.section-block__footer {
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0 23px;
  margin-top: -20px;
}
.section-block__columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.section-block__link,
.section-block__link:link,
.section-block__link:visited,
.section-block__link:focus {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}
.section-block__link span,
.section-block__link:link span,
.section-block__link:visited span,
.section-block__link:focus span {
  color: #0074c7;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}
.section-block__link:after,
.section-block__link:link:after,
.section-block__link:visited:after,
.section-block__link:focus:after {
  content: '';
  display: inline-block;
  width: 12px;
  background-image: url(../img/icon-link-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 8px;
}
.section-block__link:hover {
  text-decoration: none;
}
.section-block__link:hover span {
  text-decoration: underline;
}
.information-resources {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -20px;
}
.information-resources__item {
  height: 112px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-calc(100%/3 - 14px);
  width: calc(100%/3 - 14px);
  -webkit-box-shadow: 0 2px 4px rgba(26, 26, 26, 0.08);
  box-shadow: 0 2px 4px rgba(26, 26, 26, 0.08);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.information-resources__item:not(:nth-child(3n)) {
  margin-right: 20px;
}
.information-resources__img {
  width: 116px;
  height: 100%;
  position: relative;
}
.information-resources__img img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.information-resources__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: -webkit-calc(100% - 116px);
  width: calc(100% - 116px);
  color: #262626;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.13px;
  padding: 10px 13px;
}
.normative-info {
  margin-bottom: -2px;
}
.normative-info--incolumn {
  width: 738px;
}
.normative-info__item,
.normative-info__item:link,
.normative-info__item:visited,
.normative-info__item:focus {
  display: block;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #f3f5f6;
  color: #2b74a1;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.13px;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  padding: 12px 50px 12px 54px;
  margin-bottom: 2px;
}
.normative-info__item:before,
.normative-info__item:link:before,
.normative-info__item:visited:before,
.normative-info__item:focus:before {
  content: '';
  display: block;
  width: 40px;
  height: 100%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #b48d4c;
  background-image: url(../img/icon-normative-info.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
.normative-info__item:hover {
  background-color: #eaeaea;
}
.information-services {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.information-services__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 112px;
  width: -webkit-calc(100%/3 - 14px);
  width: calc(100%/3 - 14px);
  -webkit-box-shadow: 0 2px 4px rgba(26, 26, 26, 0.08);
  box-shadow: 0 2px 4px rgba(26, 26, 26, 0.08);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  text-decoration: none;
}
.information-services__item:not(:nth-child(3n)) {
  margin-right: 20px;
}
.information-services__img {
  width: 156px;
  height: 100%;
  position: relative;
}
.information-services__img img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.information-services__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: -webkit-calc(100% - 156px);
  width: calc(100% - 156px);
  color: #262626;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  text-decoration: none;
  padding: 10px 14px;
}
.usefull-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.usefull-links__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 112px;
  width: -webkit-calc(50% - 10px);
  width: calc(50% - 10px);
  -webkit-box-shadow: 0 2px 4px rgba(26, 26, 26, 0.08);
  box-shadow: 0 2px 4px rgba(26, 26, 26, 0.08);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  text-decoration: none;
}
.usefull-links__item:not(:last-child) {
  margin-right: 20px;
}
.usefull-links__img {
  width: 186px;
  height: 100%;
  position: relative;
}
.usefull-links__img img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.usefull-links__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: -webkit-calc(100% - 186px);
  width: calc(100% - 186px);
  color: #262626;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
  padding: 22px;
}
.normative-docs {
  width: 760px;
}
.normative-docs__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}
.normative-docs__nav {
  width: -webkit-calc(100% - 214px);
  width: calc(100% - 214px);
}
.normative-docs__filter {
  width: 204px;
}
.normative-docs__title {
  color: #262626;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 8px;
}
.normative-docs__nav-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #cdd3d6;
}
.normative-docs__nav-item {
  height: 34px;
  width: -webkit-calc(100%/3);
  width: calc(100%/3);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #2b74a1;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  text-decoration: none;
  border-right: 1px solid #cdd3d6;
}
.normative-docs__nav-item:hover,
.normative-docs__nav-item--active {
  background-color: #b48d4c;
  color: #fff;
  border-color: #b48d4c;
}
.normative-docs__nav-item:last-child {
  border: none;
}
.normative-docs__selector {
  display: block;
  height: 34px;
  width: 100%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cdd3d6;
  background-color: #ffffff;
  background-image: url(../img/icon-selector.png);
  background-repeat: no-repeat;
  background-position: right -1px top -1px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  padding-right: 40px;
  padding-left: 10px;
}
.normative-docs__link {
  min-height: 76px;
  position: relative;
  -webkit-box-shadow: 0 2px 4px rgba(26, 26, 26, 0.08);
  box-shadow: 0 2px 4px rgba(26, 26, 26, 0.08);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  padding: 10px 30px 10px 72px;
}
.normative-docs__link:before {
  content: '';
  width: 59px;
  height: 100%;
  background-color: #f8f5f0;
  background-image: url(../img/icon-doc.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
}
.normative-docs__link a,
.normative-docs__link a:link,
.normative-docs__link a:visited,
.normative-docs__link a:focus {
  display: inline-block;
  color: #2b74a1;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}
.normative-docs__link a:hover {
  text-decoration: underline;
}
.normative-docs__link p {
  /* Style for "Распоряжен" */
  color: #ac9862;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: -0.33px;
  margin-top: 5px;
}
.docs-counter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 370px;
  -webkit-box-shadow: 0 2px 4px rgba(26, 26, 26, 0.08);
  box-shadow: 0 2px 4px rgba(26, 26, 26, 0.08);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  background-color: #f3f5f6;
  padding: 20px 30px;
}
.docs-counter--incolumn {
  margin-top: 27px;
}
.docs-counter__count {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.docs-counter__count--total {
  padding-bottom: 35px;
  border-bottom: 1px solid #cecece;
  margin-bottom: 25px;
}
.docs-counter__count--total strong {
  color: #b48d4c;
  font-family: "Open Sans", sans-serif;
  font-size: 68px;
  font-weight: 700;
  line-height: 1;
}
.docs-counter__count--inprogress:not(:last-child) {
  margin-bottom: 20px;
}
.docs-counter__count--inprogress strong {
  display: inline-block;
  vertical-align: middle;
  color: #8c8c8c;
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
}
.docs-counter__count--inprogress img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
.docs-counter__number {
  width: 50%;
  text-align: right;
  padding-right: 8px;
}
.docs-counter__text {
  width: 50%;
  -moz-text-align-last: auto;
  text-align-last: auto;
  color: #262626;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.16px;
  padding-left: 8px;
}
